<html>
<head>
    <script src="https://cdn.smooch.io/smooch.min.js"></script>
    <script>
        Smooch.init({appToken: '{{appToken}}' });
    </script>
</head>
<body>
    <h2>Grana Preta Bot</h2>
    <ul>
        <li><a href="https://t.me/GranaPretaBot">Telegram</a></li>
        <li><a href="https://m.me/GranaPretaBot">Messenger</a></li>
    </ul>
</body>
</html>